<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <th:block th:replace="~{fragments/style :: head-styles}"></th:block>
    <title>Document</title>
</head>
<body>
    <div class="text-center" th:object="${pizza}">
        <h1>[[*{name}]]</h1>
        <p class="fs-2">[[*{description}]]</p>
        <p>Prezzo: &#8364 [[*{price}]]</p>
    </div>
    <th:block th:replace="~{fragments/buttons :: button('Torna alla Lista', @{'/pizzas'})}"/>
    
</body>
</html>